export(apbibd)
export(circulant)
export(series1)
export(series2)
export(series3)
export(series4)
export(series5)
export(series6)
export(verify)
export(ym1)
export(ym2)
export(ym3)
importFrom("utils", "write.table")
